#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 600px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../images/landing.svg') no-repeat 80% center;
  background-size: 45%;
}

#page-landing .content-wrapper main {
  max-width: 350px;
}
#page-landing .content-wrapper main h1 {
  font-size: 4.75rem;
  font-weight: 900;
  line-height: 70px;
}
#page-landing .content-wrapper main p {
  margin-top: 40px;
  font-size: 1.5rem;
  line-height: 34px;
}

#page-landing .content-wrapper main input[type='checkbox'] {
  position: relative;
  width: 5vw;
  height: 2vw;
  margin-top: 5px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2.5vw;
  background: #000;
}

#page-landing .content-wrapper main input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 1.5vw;
  height: 3vh;
  left: 0.5vw;
  bottom: 0.35vw;
  border-radius: 5vw;
  background: #fff;
  transition: 0.5s;
}

#page-landing .content-wrapper main input[type='checkbox']:checked {
  background: #fff;
}

#page-landing .content-wrapper main input:checked[type='checkbox']:before {
  left: 3vw;
  background: #000;
}

.content-wrapper .location {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 1.5rem;
  line-height: 34px;
  display: flex;
  flex-direction: column;

  text-align: right;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 80px;
  height: 80px;
  background-color: #ffd666;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
  background: #96feff;
}
